.md-typeset h1 {
    /*margin: 0 0 4rem;*/
    /*color: rgba(0, 0, 0, 0.54);*/
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: .02em;
    /*line-height: 1.3;*/
}

.md-typeset h2, .md-typeset h3 {
    font-weight: 700;
    color: rgba(0, 0, 0, 0.75);
}

.md-typeset__table {
   min-width: 100%;
}
